# Este archivo es un ejemplo de configuración para el entorno de desarrollo. Deberías copiar este archivo a `.env` y ajustar los valores según tus necesidades.

POSTGRES_USER=postgrest
POSTGRES_PASSWORD=postgrest
POSTGRES_DB=prueba_tecnica
