# Este archivo es un ejemplo de configuración para el entorno de desarrollo. Deberías copiar este archivo a `.env` y ajustar los valores según tus necesidades.

DATABASE_URL=postgresql://postgrest:postgrest@db:5432/prueba_tecnica?schema=public
PORT=8000
JWT_ACCESS_SECRET=tu_clave_secreta_aqui
JWT_REFRESH_SECRET=tu_otra_clave_aqui
JWT_SECRET=tu_clave_secreta_aqui
JWT_ACCESS_TTL=900s
JWT_REFRESH_TTL=7d
FRONTEND_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
